@model EFcodefirstinCoreMVC.Models.Product
<div class="row">
    <div class="border p-3 mt-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row pb-2">
                <h2 class="text-primary">Add Product</h2>
                <hr />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-10">
                    <div class="mb-3">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ISBN" class="control-label"></label>
                        <input asp-for="ISBN" class="form-control" />
                        <span asp-validation-for="ISBN" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <input type="file" name="file" asp-for="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>

                    </div>

                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">BacktoList</a>
                </div>
                <div class="col-2">

                </div>
            </div>
           
        </form>
    </div>
</div>
@*for client side validation*@
@section Scripts{
    @{
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ]
            });
        </script>
        <partial name="_ValidationScriptsPartial" />
    }
}
